<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="APP" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <!-- CSS Framework -->
    <!-- Loading Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel='stylesheet/less' type='text/css' href='/less/main.less'/>
    <script src="/js/less.min.js"></script>
  </head>
  <body>
   <div class="mycontainer" ng-view></div>
   <script src="/js/angular.min.js"></script>
   <script src="/js/angular-route.min.js"></script>
   <script src="/js/jquery-1.9.1.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/js/rsync/md5.min.js" type="text/javascript"></script>
   <script src="/js/rsync/init.js" type="text/javascript"></script>
   <script src="/js/MyUpload.js" type="text/javascript"></script>
  </body>
</html>