<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="APP" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <!-- CSS Framework -->
    <!-- Loading Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel='stylesheet/less' type='text/css' href='/less/main.less'/>
    <script src="/js/less.min.js"></script>
  </head>
  <body>
    <div class="ctrl" style="position: fixed; right: 10px; bottom: 10px;">
     <a class="btn" href="void:javascript(0)"><i class="icon-arrow-up"></i></a>
    </div>
    <div class="navbar" style="margin-bottom:0px;">
      <div class="navbar-inner" style="border-radius:0px;">
        <div class="container" style="max-width:1000px">
          <a class="brand" href="#">部署系统</a>
          <ul class="nav" ng-click="active()">
            <li ng-class="{clicked: active}"><a href="#/config">配置管理</a></li>
            <li ng-class="{clicked: active}"><a href="#">Link</a></li>
            <li ng-class="{clicked: active}"><a href="#">Link</a></li>
          </ul>
          <form class="navbar-form pull-right">
          <input type="text" class="span2" placeholder="Email">
          <input type="password" class="span2" placeholder="PassWord">
          <button type="submit" class="btn">Login</button>          
        </form>
        </div>
      </div>
   </div>
   <div class="row-fluid">
        <div class="span12"  style="height:730px;">
            <!-- left part -->
            <!--div class="span2 conf OPList">
              <div class="menu">
                <ul class="nav nav-list">
                  <li class="temple hide"><a href="#"> Misc</a></li>
                </ul>
              </div>
            </div-->
            <!-- end of left part -->
            <!-- start of right part -->
              <div class="row-fluid">
                <div class="span4" style="padding:5px">
                  <input type="text" class="span9 input conf" style="margin-bottom:5px"/>
                  <button type="button" class="btn btn-warning parseXML" style="margin-bottom:5px">解析文件</button>
                  <div class="dropdown typehead">                           
                  <!-- Link or button to toggle dropdown -->
                  <ul class="dropdown-menu">
                    <li class="hide temple"><a tabindex="-1" href="#">Action</a></li>
                  </ul>
                </div>
                </div>
                <div class="span5 upload" style="padding:5px">
                  <!--button type="button" class="btn btn-info file upload">上传文件</button-->
                  <button type="button" class="btn btn-info service">开通服务</button>
                  <button type="button" class="btn btn-success upload">拖拽上传</button>
                  <input type="file" style="display:none">
                </div>
              </div>
              <div class="row-fluid" ng-view>

              </div>
              <!--
              <pre class="hide content"></pre>
              <a class="download">点击下载</a>
              -->
              <!-- other pages
              <div class="btn-group table-toggle conf" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary attr">展现</button>
                <button type="button" class="btn btn-primary edit">编辑</button>
              </div>
              <button type="button" class="btn btn-info editNode conf">修改</button>
              <button type="button" class="btn plus conf"><i class="icon-plus"></i></button>
              <button type="button" class="btn minus conf"><i class="icon-minus"></i></button>
              <button type="button" class="btn btn-info savePlan conf">存储配置方案</button>
              <button type="button" class="btn btn-primary saveItem conf">保存</button>

              <div class="plan">
                <input type="text" class="span input"/>
              </div>
              <table class="hide table edit conf">
                <thead>
                  <tr>
                    <th width="10%">#</th>
                    <th width="45%">属性名</th>
                    <th width="45%">属性值</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="temple hide">
                    <td class=""><span class="num" style="display:inline-block;height:30px;line-height:30px">1</span></td>
                    <td class=""><input class="name" type="text" style="margin:0"/></td>
                    <td class=""><input class="content" type="text" style="margin:0"/></td>
                  </tr>
                </tbody>
              </table>
              <table class="hide table attr conf">
                <thead>
                  <tr>
                    <th width="10%">#</th>
                    <th width="45%">属性名</th>
                    <th width="45%">属性值</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="hide temple hide">
                    <td class="num">1</td>
                    <td class="name">Mark</td>
                    <td class="content">Otto</td>
                  </tr>
                </tbody>
              </table>
              <table class="hide table plan">
                <thead>
                  <tr>
                    <th width="10%">#</th>
                    <th width="30%">方案名</th>
                    <th width="30%">时间</th>
                          <th width="30%">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="temple hide">
                    <td class="num">1</td>
                    <td class="name">Mark</td>
                    <td class="date">Otto</td>
                          <td class="oper">
                            <button type="button" class="btn btn-danger">删除</button>
                            <button type="button" class="btn btn-primary">应用</button>
                          </td>
                  </tr>
                </tbody>
              </table>
              -->
            <!-- end of right part -->      
        </div>
      </div> 
   <!--div class="mycontainer" ng-view></div-->
   <script type="text/ng-template" id="Config.html">
      <div class="span5">
        <div class="wrapper conf" onselectstart="return false">
        <div class="tree" ng-click="showInfo($event)" ng-dblclick="showChild($event)">
          <ul>
            <li class="hide temp">
              <span>加载中...</span>
            </li>
          </ul>
        </div>
        </div> 
      </div>
   </script>
   <script src="/js/angular.min.js"></script>
   <script src="/js/angular-route.min.js"></script>
   <script src="/js/jquery-1.9.1.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script src="/js/main.js"></script>
   <script src="/js/rsync/md5.min.js" type="text/javascript"></script>
   <script src="/js/rsync/init.js" type="text/javascript"></script>
   <script src="/js/MyUpload.js" type="text/javascript"></script>
  </body>
</html>